img {
	transition: 500ms linear;
}
img:hover {
	transform: scale(1.1);
	animation-timing-function: ease;
	top: 30%;
	left: 10%;
}
.Malil {
	position: relative;
	width: 150px;
	top: 30%;
	left: 40%;
}
