.Malil {
	position: relative;
	width: 150px;
	top: 30%;
	left: 40%;
}
.Github {
	position: relative;
	top: 30%;
	left: 10%;
}

.Fedora {
	position: relative;
	top: 30%;
	left: 10%;
}

.Quote {
	position: relative;
	top: 30%;
	left: 10%;
}
