body {
	font-family: Comfortaa;
	background-color: #181818;
	color: #bfbfc0;
}

.body {
	background-color: #222428;
	width: 60%;
	padding: 10px;
	border: 1px solid #3d3d3d;
	margin: auto;
}
a {
	color: green;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
h2 {
	color: #46b5d1;
}

h1 {
	color: #3282b8;
}
h3 {
	color: #515585;
}
img {
	max-width: 80%;
	height: auto;
}
