.CommandsMalil {
	max-width: 80%;
	height: auto;
	transition: 500ms linear;
	&:hover {
		animation: moveToRight 10s ease-in-out;
		animation-timing-function: ease;
	}
}

.HomeMalil {
	position: relative;
	width: 150px;
	top: 30%;
	transition: 500ms linear;
	&:hover {
		transform: scale(1.1);
		animation-timing-function: ease;
	}
}

.preview {
	transition: 500ms linear;
	max-width: 80%;
	height: auto;
	&:hover {
		transform: scale(1.1);
		animation-timing-function: ease;
		top: 30%;
		left: 10%;
	}
}
