$background: hsl(0, 0%, 9%);
$body: hsl(220, 8%, 15%);
$border: hsl(0, 0%, 24%);
$white: hsl(0, 0%, 95%);
$navborder: hsl(0, 0%, 24%);
$navbg: hsl(0, 0%, 20%);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

@import "sidenav";

@import "body";

@import "quote";

@import "link";

@import "h";

@import "topnav";

@import "tables";

@import "image";

@import "device";

@import "details";
