$background: hsl(0, 0%, 9%);
$body: hsl(220, 8%, 15%);
$border: hsl(0, 0%, 24%);
$white: hsl(0, 0%, 95%);
$navborder: hsl(0, 0%, 24%);
$navbg: hsl(0, 0%, 20%);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

@import "styles/device";

@import "styles/sidenav";

@import "styles/body";

@import "styles/quote";

@import "styles/link";

@import "styles/h";

@import "styles/footer";

@import "styles/topnav";

@import "styles/tables";

@import "styles/image";

@import "styles/details";
