:root {
	--white: #f2f2f2;
	--black: black;
	--background: #333;
	--border: #3d3d3d;
}
.topnav {
	width: 100%;
	padding: 0.1rem;
	border: 0.01rem solid var(--border);
	margin: auto;
	background-color: var(--background);
	overflow: hidden;
	a {
		float: left;
		color: var(--white);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			color: var(--black);
		}
	}
}
