body {
	font-family: Comfortaa;
	font-size: 1em;
	background-color: #181818;
	color: #bfbfc0;
}

.body {
	background-color: #222428;
	width: 60%;
	padding: 1rem;
	border: 1px solid #3d3d3d;
	margin: auto;
}

blockquote {
	display: block;
	background: #2c3035;
	padding: 0.01rem 0.1rem 0.1rem 1.7em;
	margin: 0.1em 0.1em 10px;
	position: relative;
	line-height: 1.2;
	color: #666;
	text-align: justify;
	border-left: 6px solid #dbdbdb;
}

blockquote::before {
	font-weight: bold;
	color: #999;
	position: absolute;
	left: 0.1em;
	top: 0.5em;
}

blockquote::after {
	content: "";
}

blockquote a {
	text-decoration: none;
	background: #eee;
	cursor: pointer;
	padding: 0 0.3em;
}

a {
	color: green;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
h2 {
	color: #46b5d1;
}

h1 {
	color: #3282b8;
}
h3 {
	color: #515585;
}
img {
	max-width: 80%;
	height: auto;
}
